* {
  color:#fff;
  text-decoration: none;
  background-color: #212121;
  font-family: 'VT323', monospace;
  margin: 0;
  padding: 0;
}

.red {
  color: red;
}

.purple {
  color: #9a99ff;
}

.blue {
  color: #2FCBEF;
}

.yellow {
  color: #e6db74;
}

.grey {
  color:#808080;
}

.seperator {
    height: 88vh;
}

h1 {
  margin: 0 -14px 0 -36px;
  padding: 0 36px;
  font-weight: 100;
  background: #323b41;
  text-transform: lowercase;
}

header {
  position: sticky;
  top: 0;
  z-index:100;
  margin-bottom: 5px;
}

.linenumbers {
  height: 100%;
  width: 22px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  padding-top: 30px;
}

.linenumbers span {
  color: #818181;
  display: block;
}

.linenumbers span:hover {
  color: #f1f1f1;
}

.main {
  padding: 0 14px;
  margin-left: 22px; /* Same as the width of the linenumbers */
}

#name {
  text-transform: uppercase;
}

.typewriter {
  text-align: center;
}

.typewriter span {
  /* font-family: 'Waiting for the Sunrise', cursive; */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  display: inline;
}

#typed-static-1 {
  display: block;
}

.change-font {
  font-family: 'Waiting for the Sunrise', cursive; 
}

#typed-main, #typed-main1, #typed-main2, #typed-main3 {
  text-transform: lowercase;
}

#typed-caret {
  color: orange;
  animation: blink-caret .5s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { color: transparent }
  50% { color: orange }
}

.fa {
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  transition-duration: 0.5s;
  opacity: 0.7;
}

.fa-id-card, .fa-facebook, .fa-comment, .fa-home, .fa-cloud, .fa-code {
  color: white;
}

.hidden { display:none; }

body, h1, #typed-static-1, #typedtext, .linenumbers span, .old {
  font-size: 24px;
}

.typewriter {
  font-size: 26px;
}

@media only screen and (min-device-width: 480px) {
  body, h1, #typed-static-1, #typedtext, .linenumbers span, .old {
    font-size: 24px;
  }
  .typewriter {
    font-size: 26px;
  }
}

@media only screen and (min-device-width: 768px) {
  body, h1, #typed-static-1, #typedtext, .linenumbers span, .old {
    font-size: 28px
  }
  .typewriter {
    font-size: 38px;
  }
}